@using TCSA.Models;
@using TCSA.Data;
@using TCSA.Services;
@inject IHttpContextAccessor httpContextAccessor

@page "/article/{ArticleId}"

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"></h1>
        </div>
    </div>
</div>

<div class="container w-50 article-blocks-desktop">
    @foreach (var block in Article.Blocks)
    {
        <div class="row pb-4">
            @if (!String.IsNullOrEmpty(block.ImgUrl))
            {
                <div class="col-2 icon-div">
                    <img src="img/@block.ImgUrl" width="70" alt="" class="align-middle">
                </div>
            }
            <div class="@GridStyle(!String.IsNullOrEmpty(block.ImgUrl))">
                <h1 class="article-section-title">@block.Title</h1>

                @foreach (var paragraph in block.Paragraphs)
                {
                    if (paragraph.IsPicture)
                    {
                        <img src="img/@paragraph.PictureUrl" width="500">
                    }

                    if (paragraph.IsVideo)
                    {
                        <div class="video-paragraph d-flex justify-content-center embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="500" height="350" src="@paragraph.VideoUrl" allowfullscreen></iframe>
                        </div>
                    }

                    if (!String.IsNullOrEmpty(paragraph.Body))
                    {
                        <p>@((MarkupString)(paragraph.Body))</p>
                    }
                }
            </div>
        </div>
    }

    @if (IsLogged)
    {
        @if (IsCompleted)
        {
            <button class="btn btn-outline-secondary" type="button" @onclick="MarkAsIncomplete">Mark As Unread</button>
        }
        else
        {
            <div class="container user-buttons">
                <btn class="btn btn-primary " type="button" @onclick="MarkAsComplete">Mark As Read</btn>
            </div>
        }
    }

    @if (HasNext)
    {
        <div class="container user-buttons">
            <a href="article/@(Article.Id + 1)" target="_blank">
                <btn class="btn btn-primary " type="button" @onclick="MarkAsComplete">Next</btn>
            </a>
        </div>
    }
</div>
<div class="container article-blocks-mobile">
    @foreach (var block in Article.Blocks)
    {
        <div class="row">
            <div class="col d-flex justify-content-center icon-div">
                <img src="img/@block.ImgUrl" width="70" alt="" class="align-middle">
            </div>
        </div>
        <div class="row pb-4">
            <div class="col">
                <div class="col d-flex justify-content-center pb-3">
                    <h1 class="article-section-title">@block.Title</h1>
                </div>

                @foreach (var paragraph in block.Paragraphs)
                {
                    if (paragraph.IsPicture)
                    {
                        <img src="img/@paragraph.PictureUrl" width="500">
                    }

                    if (paragraph.IsVideo)
                    {
                        <div class="video-paragraph d-flex justify-content-center embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="500" height="350" src="@paragraph.VideoUrl" allowfullscreen></iframe>
                        </div>
                    }

                    if (!String.IsNullOrEmpty(paragraph.Body))
                    {
                        <p>@((MarkupString)(paragraph.Body))</p>
                    }
                }
            </div>
        </div>
    }
</div>

@code {
    [Inject]
    protected IUserService UserService { get; set; }
    private AppUser user;
    [Parameter]
    public string ArticleId { get; set; }
    public Article Article { get; set; }
    public bool IsLogged = false;
    public bool IsCompleted { get; set; }
    public bool HasNext { get; set; }
    public DashboardProject incomingDashboardProject = new();
    public List<int> GroupArticles = new List<int> { 5, 6, 7, 8 };

    protected async override Task OnInitializedAsync()
    {
        Article = ArticlesHelper.GetArticles().Single(x => x.Id == int.Parse(ArticleId));

        if (GroupArticles.Contains(Article.Id))
        {
            HasNext = true;
        }

        if (httpContextAccessor.HttpContext.User.Identity.Name != null)
        {
            IsLogged = true;
        };

        var email = httpContextAccessor.HttpContext.User.Identity.Name;

        try
        {
            user = await UserService.GetUser(email);

            if (user.DashboardProjects.Any(x => x.ProjectId == int.Parse(ArticleId)))
            {
                incomingDashboardProject = user.DashboardProjects.Single(x => x.ProjectId == Article.Id);
                IsCompleted = incomingDashboardProject.IsCompleted;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected async Task MarkAsComplete()
    {
        var project = new DashboardProject
            {
                AppUserId = user.Id,
                GithubUrl = "Not required",
                ProjectId = int.Parse(ArticleId),
                IsCompleted = true
            };

        UserService.PostProject(project);
    }

    protected async Task MarkAsIncomplete()
    {
        UserService.MarkAsIncomplete(incomingDashboardProject);
    }

    private string GridStyle(bool hasIcon)
    {
        return hasIcon ? "col-10" : "col";
    }
}

<style>
    .jumbotron {
        background-image: url("../img/article-banner.jpg");
        background-size: cover;
    }

    .display-4 {
        height: 200px;
    }

    .icon-div {
        display: grid;
    }

    img {
        align-self: center;
    }

    .video-paragraph {
        padding: 20px 0;
    }

    .article-section-title {
        font-size: 24px;
        font-weight: 600;
    }
</style>
