@page "/"
@using TCSA.Models;
@using TCSA.Data;

<div class="jumbotron jumbotron-fluid main-jumbotron">
    <div class="container">
        <div class="row">
            <div class="title-desktop col-xl-6 col-lg-6 col-sm-1 d-flex align-items-center">
                <div>
                    <h1 class="display-1 fw-bolder">THE C# <br />ACADEMY</h1>
                    <p class="lead fw-bolder">Learn with Projects!</p>
                    <p class="last-updated">Last Updated: Oct-22-2022</p>
                </div>
            </div>
            <div class="title-mobile col-xl-6 col-lg-6 col-sm-1 d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="display-1 text-center">THE C# <br />ACADEMY</h1>
                    <p class="lead text-center">Learn with Projects!</p>
                    <p class="last-updated text-center">Last Updated: Oct-22-2022</p>
                </div>
            </div>
            <div class="col">
                <img class="img-fluid" src="img/main-banner.gif" />
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid latest-updates">
    <div class="container latest-updates-container">
        <p class="latest-updates-title">Latest Updates</p>
        <p class="latest-updates-list">2022-Oct-22 : Updated Phone Book Entity Framework project</p>
        <p class="latest-updates-list">2022-Oct-14 : Updated 'Shift Tracker' .NET Core Web API project</p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center justify-content-center">
        <h1 class="display-4 justify-content-center area-title-text">.NET Full-Stack Developer Roadmap</h1>
        <img src="img/roadmap-desktop.png" class=" img-fluid roadmap-desktop" />
        <img src="img/roadmap-mobile.png" class=" img-fluid roadmap-mobile" />
        <a href="@($"article/51")"><button type="button" class="btn btn-primary btn-lg button-roadmap">Roadmap Explained</button></a>
    </div>
</div>

<div class="container w-75">
    <div class="row justify-content-center">
        <h1 class="display-4 justify-content-center area-title-text">How it Works</h1>
        @foreach (var article in articles.Where(x => x.Area == Area.HowItWorks))
        {
            <div class="col-lg col-sm-1 col-md-3 col-xs-1">
                <div class="card text-center w-75" style="width: 18rem;">
                    <div class="text-center">
                        <img class="card-img-top" mx-auto d-block src="img/@article.IconUrl" />
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="area-first-steps">
    <div class="container w-75">
        <div class="row d-flex justify-content-center">
            <h1 class="display-4 area-title-text first-steps-area-title">First Steps</h1>
            <p class="text-center area-description area-description-dark">Get started with our program reading and following the instructions in these articles. If possible, follow them in order. They cover everything you need to prepare for your C# journey.</p>

            @foreach (var article in articles.Where(x => x.Area == Area.StartHere))
            {
                <Card Type="Article"
                      Id =@article.Id.ToString()
                      Title=@article.Title
                      Description=@article.Description
                      IconUrl=@article.IconUrl />
            }
        </div>
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex justify-content-center title">
            <img class="area-title" src="img/console-title.png" />
        </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-12 col-sm-1 my-3">
            <div class="card shadow rounded-lg text-center" style="width: 18rem;">
                <a href="@($"article/{consoleArticle.Id}")" class="stretched-link" target="_blank">
                    <img class="card-img-top" src="img/@consoleArticle.IconUrl" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@consoleArticle.Title</h5>
                    <p class="card-text">@consoleArticle.Description</p>
                </div>
            </div>
        </div>
        @foreach (var project in projects.Where(x => x.Area == Area.Console  ))
        {
            <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl />
        }

        <div class="col-lg-3 my-3">
            <div class="card shadow rounded-lg text-center" style="width: 18rem;">
                <a href="@($"article/{graduationArticle.Id}")" class="stretched-link">
                    <img class="card-img-top" src="img/@graduationArticle.IconUrl" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@graduationArticle.Title</h5>
                    <p class="card-text">@graduationArticle.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="area-first-steps start-applying">
    <div class="container">
        <div class="row d-flex justify-content-center title">
            <img class="area-title" src="img/apply-title.png" />
            <p class="lead">With these projects, you'll showcase your work and start applying for jobs.</p>
        </div>
        <div class="row d-flex justify-content-center">
            @foreach (var project in projects.Where(x => x.Area == Area.StartApplying))
            {
               <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl />
            }
        </div>
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex justify-content-center text-center title">
        <img class="area-title" src="img/mvc-title.png" />
        <p class="lead">Learn the fundamentals of ASP.NET MVC</p>
        </div>
    <div class="row d-flex justify-content-center">
        @foreach (var project in projects.Where(x => x.Area == Area.MVC))
        {
            <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl />
        }
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex justify-content-center text-center title">
        <img class="area-title" src="img/angular-title.png" />
        <p class="lead">Learn how .NET works together with this powerful front-end framework</p>
    </div>
    <div class="row d-flex justify-content-center">
        @foreach (var project in projects.Where(x => x.Area == Area.Angular))
        {
            <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl />
        }
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex justify-content-center text-center title">
        <img class="area-title" src="img/react-title.png" />
        <p class="lead">Learn how .NET works together with this powerful front-end framework</p>
    </div>
    <div class="row d-flex justify-content-center">
        @foreach (var project in projects.Where(x => x.Area == Area.React))
        {
            <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl />
        }
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex text-center justify-content-center title">
        <img class="area-title" src="img/blazor-title.png" />
        <p class="lead">Learn the latest .NET solution for web development</p>
    </div>
    <div class="row d-flex justify-content-center">
        @foreach (var project in projects.Where(x => x.Area == Area.Blazor))
        {
            <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl />
        }
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex justify-content-center text-center title">
        <img class="area-title" src="img/maui-title.png" />
        <p class="lead">Learn this fantastic technology to build apps for Android, iOS, MacOs and Windows.</p>
    </div>
    <div class="row d-flex justify-content-center">
        @foreach (var project in projects.Where(x => x.Area == Area.MAUI))
        {
            <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl />
        }
    </div>
</div>

<div class="container w-75">
    <div class="row d-flex justify-content-center text-center title">
        <img class="area-title" src="img/azure-title.png" />
        <p class="lead">Get started in cloud computing deploying applications to Microsoft's state-of-the-art cloud solution.</p>
    </div>
    <div class="row d-flex justify-content-center">
        @foreach (var project in projects.Where(x => x.Area == Area.Azure))
        {
            <Card Type="Project"
              Id=@project.Id.ToString()
              Title=@project.Title
              Description=@project.Description
              IconUrl=@project.IconUrl 
              ReleaseDate=@(project.ReleaseDate)/>
        }
    </div>
</div>

@code {
    protected List<Article> articles = new();
    protected List<Project> projects = new();
    protected Article consoleArticle = new();
    protected Article graduationArticle = new();

    protected override async Task OnInitializedAsync()
    {
        articles = ArticlesHelper.GetArticles();
        projects = ArticlesHelper.GetProjects();
        consoleArticle = articles.Single(x => x.Id == 9);
        graduationArticle = articles.Single(x => x.Id == 10);
    }
}

<style>
    .main-jumbotron {
        margin-top: 100px;
    }

    .display-1 {
        font-family: Roboto;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .lead {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 600;
        color: #1D256E
    }

    .last-updated {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 600;
        color: #D62A2A;
        margin-top: -16px !important;
    }

    .latest-updates {
        background-color: #D62A2A;
        color: white;
        font-weight: 500;
    }

    .latest-updates-container {
        padding: 10px 0 5px 0;
    }

    .latest-updates-title {
        font-family: Roboto;
        font-size: 20px;
    }

    .latest-updates-list {
        margin-top: -15px;
        font-family: Roboto;
        font-size: 15px;
    }

    .btn-primary {
        background-color: #1C236D;
    }

    .area-first-steps {
        background-color: #1C236D;
        padding-bottom: 50px;
    }

    .area-title {
        max-width: 250px;
        padding-bottom: 10px;
    }

    .area-title-text {
        padding-top: 50px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 30px;
        font-family: Roboto;
        font-weight: 600;
    }

    .first-steps-area-title {
        color: white;
    }

    .area-description-dark {
        color: white;
    }

    .area-description {
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
    }

    .button-roadmap {
        margin-top: 20px;
        padding: 15px 30px;
    }

    .start-applying {
        padding-top: 1px;
    }

</style>