@page "/"
@using TCSA.Models;
@using TCSA.Data;

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">The C# Academy</h1>
                <p class="lead">Where You Learn By Making</p>
                <p>Last Updated: Oct-22-2022</p>
            </div>
            <div class="col">
                <img src="@(baseUrl)/2022/05/clip-online-education-4.gif" />
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Roadmap</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-4 justify-content-center">How it Works</h1>
        @foreach (var article in articles.Where(x => x.Area == Area.HowItWorks))
        {
            <div class="col">
                <div class="card text-center w-75" style="width: 18rem;">
                    <a href="@($"article/{article.Id}")"><img class="card-img-top" src="@(baseUrl)/@article.IconUrl" alt="Card image cap"></a>
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <h1 class="display-4">First Steps</h1>
        @foreach (var article in articles.Where(x => x.Area == Area.StartHere))
        {
            <div class="col">
                <div class="card text-center w-75" style="width: 18rem;">
                    <a href="@($"article/{article.Id}")"><img class="card-img-top" src="@(baseUrl)/@article.IconUrl)" alt="Card image cap"></a>
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <h1 class="display-4">Console Apps</h1>
        @foreach (var project in projects.Where(x => x.Area == Area.Console))
        {
            <div class="col-3 ">
                <div class="card text-center w-75" style="width: 18rem;">
                    <a href="@($"project/{project.Id}")"><img class="card-img-top" src="@(baseUrl)/@project.IconUrl)" alt="Card image cap"></a>
                    <div class="card-body">
                        <h5 class="card-title">@project.Title</h5>
                        <p class="card-text">@project.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    protected List<Article> articles = new();
    protected List<Project> projects = new();
    protected string baseUrl = "https://www.thecsharpacademy.com/wp-content/uploads";

    protected override async Task OnInitializedAsync()
    {
        articles = ArticlesHelper.GetArticles();
        projects = ArticlesHelper.GetProjects();
    }
}

<style>

    .card-img-top {
        max-width: 100px;
    }

    .card {
        border: none;
    }
</style>